@font-face {
    font-family: 'Riviera Nights';
    font-style: normal;
    font-weight: normal;
    src: local('Riviera Nights'), url('../RivieraNightsTrial-Regular.otf') format('truetype');
}

* {
    text-decoration: none;
    font-family: 'Riviera Nights';
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #ffffff;
}

.navbar-logo {
    height: 80px;
    width: fit-content;
    transition: height 0.3s ease;
}

.MENU-circle-YOGA {
    color: white;
    background-color: #ed7235da;
    width: 56px;
    /* fixed width */
    height: 56px;
    /* fixed height (same as width) */
    border-radius: 50%;
    /* makes it a circle */
    display: flex;
    /* centers the icon/text */
    align-items: center;
    justify-content: center;

    /* reset default button styles */
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.nav-yoga-bg-main {
    width: 100%;
    position: fixed;
    z-index: 5;
    color: #ffffffcc;
}

.navbar-yoga-bg-main {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.navbar-yoga-bg-main-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    height: 100%;
}

.BgColour {
    background-color: rgba(255, 255, 255, 0.918);
    
}

.menu-nav-yoga {
    font-weight: bolder;
    letter-spacing: 0.1666666667em;
    font-size: 1rem;
    line-height: 2;
    text-transform: uppercase;
    position: relative;
    border: none;
    color: inherit;
}

@media screen and (max-width: 650px) {
    .drawer {
        position: fixed;
        top: 0;
        bottom: 0;
        width: fit-content;
        color: #ffffff;
        background-color: #ED7235;
        backdrop-filter: blur(8px);
        transition: transform 0.8s ease;
        z-index: 1020;
        font-size: small;
        display: flex;
        justify-content: center;
    }

    .drawer-footer {
        font-size: small;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .drawer-header {
        display: flex;
        background-color: #ed7235;
        color: aliceblue;
        padding: 5% 5%;
        margin: 1% 0%;
        text-align: end;
        height: 10%;
        width: 100%;
    }


    .drawer-footer p,
    .drawer-footer button {
        text-align: center;
        font-size: 12px;
    }

    .social-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-icons p {
        font-size: 18px;
        margin: 0 5px;
    }

    .btn-outline-success {
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
    }

    .navbar-logo {
        height: 50px;
        width: fit-content;
        transition: height 0.3s ease;
    }

    .MENU-circle-YOGA {
        color: white;
        background-color: #ed7235da;
        padding: 10px;
        border-radius: 50px;
    }

    .BgColour {
        height: 40px;
    }

}

@media screen and (max-width: 400px) {
    .social-icons p {
        font-size: 8px;
    }

    .btn-outline-success {
        font-size: 12px;
    }

    .social-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-icons p {
        font-size: 18px;
        margin: 0 5px;
    }

    .btn-outline-success {
        width: 50%;
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (min-width: 650px) {

    .drawer {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 596px;
        color: #ffffff;
        background-color: #ED7235;
        backdrop-filter: blur(8px);
        transition: transform 0.8s ease;
        z-index: 1020;
        display: flex;
        justify-content: center;
    }


}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff17;
    backdrop-filter: blur(0.2px);
    z-index: 1010;
}

.menu-text-nys-yoga {
    z-index: 9999;
}

.drawer-left {
    left: -696px;
    transform: translateX(-696px);
}

.drawer.show {
    transform: translateX(696px);
}

.drawer-header {
    display: flex;
    background-color: #ed7235;
    color: aliceblue;
    padding: 5% 5%;
    margin: 1% 0%;
    text-align: end;
    height: 10%;
}

.drawer-body p .AnchorLink {
    color: #ffffff;
}

.drawer-body {
    padding: 1rem;
    height: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.drawer-footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drawer-content-scrollable {
    max-height: 100%;
    overflow-y: auto;
    width: 80%;
}


.AnchorLink {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.AnchorLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 10%; /* Only underline the first letter 'H' */
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.AnchorLink:hover::after {
    width: 100%; /* Underline the full word 'Home' on hover */
}



/* /////////////// */
.progress-wrap {
    right: 55px;
    color: white;
    position: fixed;
    bottom: 150px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px white;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #ED7235;
    left: 0;
    top: -2px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    -webkit-text-fill-color: #ED7235;
    left: 0;
    top: -2px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap .progress-circle path {
    stroke: #ED7235;
    stroke-width: 6;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* whatspp */
.nav-whatsapp {
    position: fixed;
    bottom: 25px;
    right: 40px;
    z-index: 1000;
    padding: 12px 0
}

.nav-whatsapp.active .wrapperWA {
    opacity: 1;
    visibility: visible;
    width: 400px;
    height: auto;
    z-index: 6;
    display: block
}

.nav-whatsapp.active .whatsapp-float {
    opacity: 0;
    visibility: hidden
}

.wrapperWA {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    height: 60px;
    margin: 12px 0;
    background: #fff;
    display: none
}

.wrapperWA-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    position: relative
}

.wrapperWA-header h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
    font-size: 1rem;
    flex: 1 1 auto;
    margin: 0
}

.wrapperWA-header .closeWA svg {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer
}

.form-container .formC:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 1rem;
    --gap: 1rem
}

.form-container .formC:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
}

.form-container .formC .Fcontrol {
    position: relative
}

.form-container .formC .Fcontrol input:focus,
.form-container .formC .Fcontrol textarea:focus {
    border-color: #4caf50
}

.Fcontrol input[type="text"],
.Fcontrol input[type="email"],
.Fcontrol .cSubject,
.Fcontrol textarea {
    width: 100%;
    height: calc(3.5rem + calc(1px * 2));
    padding: .375rem 2.25rem .375rem .75rem;
    padding-top: 1.625rem;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #fff
}

.Fcontrol textarea {
    height: 100px
}

.Fcontrol input:focus~.nameC,
.Fcontrol input:focus~.emailC,
.Fcontrol textarea:focus~.messageC {
    top: -5px
}

.Fcontrol input[type="text"],
.Fcontrol input[type="email"],
.Fcontrol textarea {
    padding: .75rem;
    padding-top: 1.625rem;
}

.Fcontrol .nameC,
.Fcontrol .emailC,
.Fcontrol .subjectC,
.Fcontrol .messageC {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: auto;
    padding: 1rem .75rem;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    transform-origin: 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    white-space: nowrap;
    color: rgba(33, 37, 41, 0.65);
    transition: 0.1s ease
}

.formC .Fcontrol .cSubject {
    display: block;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") no-repeat right .75rem center/16px 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.valid[data-text]:before {
    position: absolute;
    bottom: 100%;
    left: 12px;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #ffd91a transparent;
    top: calc(100% - 21px)
}

.valid[data-text]:after,
.valid[data-text]:before {
    opacity: 1;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 3
}

.valid[data-text]:after {
    content: attr(data-text);
    position: absolute;
    background: #ffd91a;
    left: 0;
    top: calc(100% - 5px);
    font-size: 12px;
    padding: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
    border-radius: 5px
}

.show#cName~.valid:after,
.show#cEmail~.valid:after,
.show#cMessage~.valid:after,
.show#cName~.valid[data-text]:before,
.show#cEmail~.valid[data-text]:before,
.show#cMessage~.valid[data-text]:before {
    opacity: 0
}

.none#cName~.valid:after,
.none#cEmail~.valid:after,
.none#cMessage~.valid:after,
.none#cName~.valid[data-text]:before,
.none#cEmail~.valid[data-text]:before,
.none#cMessage~.valid[data-text]:before {
    opacity: 1
}

.whatsapp-send {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: default;
    height: auto;
    width: auto;
    cursor: pointer
}

.whatsapp-send svg {
    fill: #fff;
    width: 22px;
    height: 22px
}

.whatsapp-send:hover {
    background-color: #45a049
}

.whatsapp-float {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .2rem
}

.whatsapp-float .whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: waAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite
}

@keyframes waAnimation {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 175, 80, 0.5)
    }

    80% {
        box-shadow: 0 0 0 14px rgba(74, 175, 80, 0)
    }
}

.whatsapp-float .whatsapp-icon svg {
    fill: #fff;
    width: 30px;
    height: 30px
}

select:focus {
    outline: none
}

select::-ms-expand {
    display: none
}

@media screen and (max-width:620px) {
    .formC:nth-child(1) {
        gap: 0
    }

    .nav-whatsapp.active .wrapperWA {
        width: auto;
        height: auto;
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
        margin: 0;
        transition: all .3s ease
    }

    .form-container .formC:nth-child(1) {
        grid-template-columns: auto;
        gap: 0
    }
}

.drK .wrapperWA {
    background: #202426
}

.drK .Fcontrol input[type="text"],
.drK .Fcontrol input[type="email"],
.drK .Fcontrol .cSubject,
.drK .Fcontrol textarea {
    background: #272b2d
}

.drK .wrapperWA-header h2,
.drK .Fcontrol .nameC,
.drK .Fcontrol .emailC,
.drK .Fcontrol .subjectC,
.drK .Fcontrol .messageC {
    color: #fff
}